<div class="label-container" labelVisibility={{labelVisibility}} labelInvalidStatusVisibility={{labelInvalidStatusVisibility}}>
  <div class="{{invalidIconClass}}" invalidState={{invalidState}}></div>
  <div class="form-label field-label">
    {{label}}
  </div>
</div>

<div class="tweaker-container" tweakerInvalidStatusVisibility={{tweakerInvalidStatusVisibility}}>
  <div class="form-tweaker">
    {{&tweaker}}
  </div>
  <div class="{{invalidIconClass}}" invalidState={{invalidState}}></div>
</div>
