<div id="tnmax-wrapper" class="tnmax-tagger tn-maximized">
  <div class="tnmax-slider-wrapper">
    <div class="slider-btn-hldr slider-btn-hldr-left">
      <button id="left-btn" class="slider-btn">
        <span class="fonticon fonticon-chevron-left"></span>
      </button>
    </div>
    <div class="tnmax-maximized-views">
      <div class="tnmax-all-view-container ">
        <div id ="tn-rootwhat" class="tnmax-root-view ">
          <!-- <div id="what_separator" class="item-circle">
            <span class="fonticon fonticon-3d-what"></span>
          </div> -->
          <!-- <div class="tag">What Tags</div> -->
        </div>
        <div id="tn-rootwho" class="tnmax-root-view ">
          <!-- <div id="who_separator" class="item-circle">
            <span class="fonticon fonticon-3d-who"></span>
          </div>
          <div class="tag">Who Tags</div> -->
        </div>
        <div id="tn-rootwhen" class="tnmax-root-view ">
          <!-- <div id="when_separator" class="item-circle">
            <span class="fonticon fonticon-3d-when"></span>
          </div>
          <div class="tag">When Tags</div> -->
        </div>
        <div id="tn-rootwhere" class="tnmax-root-view ">
          <!-- <div id="where_separator" class="item-circle">
            <span class="fonticon fonticon-3d-where"></span>
          </div>
          <div class="tag">Where Tags</div> -->
        </div>
        <div id="tn-roothow" class="tnmax-root-view ">
          <!-- <div id="how_separator" class="item-circle">
            <span class="fonticon fonticon-3d-how"></span>
          </div>
          <div class="tag">How Tags</div> -->
        </div>
        <div id="tn-rootwhy" class="tnmax-root-view">
          <!-- <div id="why_separator" class="item-circle">
            <span class="fonticon fonticon-3d-why"></span>
          </div>
          <div class="tag">Why Tags</div> -->
        </div>
      </div>
    </div>
    <div class="slider-btn-hldr slider-btn-hldr-right">
      <button id="right-btn" class="slider-btn">
        <span class="fonticon fonticon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>
