<span class="field-label">
    <span class="field-label-text">{{label}}</span>
    {{~#if required~}}
    <span class="required-field-indicator">*</span>
    {{~/if~}}
    <span class="field-label-actions">
        {{#if tooltipTitle}}
        <span class="fonticon fonticon-info"></span>
        {{/if}}
    </span>
</span>